<header id="top" class="tri">
  <nav id="links">
    <a href="/">Home</a>
    <a href="/">Recipes</a>
    <a href="/">My Recipes</a>
  </nav>
  <form action='/recipe'>
    <div class="wrap">
      <div class="search">
        <input class="form-control mr-sm-2" type="search" name="user_input" placeholder="What Recipe are you looking for?" aria-label="Search">
        <button class="btn btn-warning" type="submit"> <img src="static/img/search.png" alt="" width="20" height="20"> </button>
      </div>
    </div>
  </form>
</header>
