body { 
    font-family: Helvetica;
    margin: 0;
	background: #F2E8E7;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}


header {

  text-align: center;
  width: 100%;
}

#top {
    position:fixed;
    height:80px;
    top:0;
    left:0;
    width:100%;
    z-index:9999999999;
    background: #333333;
    color: white;
    padding:0 15px;
}



#links a {
  line-height:60px;
  display:inline-block;
  text-transform:uppercase;
  position:relative;
  letter-spacing:1px;
  font-size:12px;
  margin:5px 12px;
  padding:5px 0;
  transition:0.5s ease-in-out;
}

#links a::before {
  content:"";
  bottom:20px;
  height:2px;
  background: white;
  position:absolute;
  display:block;
  left:0;
  width:0;
  transition:0.5s ease-in-out;
}

#links a:hover, #links a.active
#links a:hover::before, #links a.active::before {width:100%;}
#links span.pe {font-size:20px; display:block;}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;

}

.wrap {
  width: 30%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



h1 {
  padding-top: -100px;
}