{% extends 'base.html' %}
{% block content %}

{% include 'partials/navbar.html' %}

<div id="cssninja">
    <p><a href="http://www.thecssninja.com/">Example from the [CSS] Ninja</a></p>
</div>

<div class="curtain"></div>

<!-- Google analytics -->
<script>
    var _gaq=[['_setAccount','UA-4638292-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>

{% endblock %}