{% extends 'base.html' %}
{% block content %}

{% include 'partials/navbar.html' %}



    {% for recipe in recipes %}
    <div class="recipes"><div data-aos="zoom-in">
        <div class="hover">
        

        <img src="https://spoonacular.com/recipeImages/{{ recipe.id }}-556x370.jpg" alt="recipe image">
        <div class="title"><div class="overlay">{{ recipe.title }}</div></div>
        <div class="see-more">
        <p><a href='/recipe/{{ recipe.id }}'>See Ingredients and Instructions</a></p>
    </div>

    </div>
    </div>
</div>
    {% endfor %}

    

{% endblock %}